extends ../shared/template

block content
  h1= title

  .row
    .small-12.columns
      form(action='/signup', method='POST')
        fieldset
          legend Signup
          label Name
          input(type='text', name='name', placeholder='You You', autofocus='true')
          label Email
          input(type='email', name='email', placeholder='you@you.com')
          label Password
          input(type='password', name='password', placeholder='something secretive')
          button.tiny.radius SIGNUP
  .row
    .small-12.columns
      p Already have an account? 
        a(href='/login') Login
      p Or go 
        a(href='/') home
